{% set page_title = "S'inscrire" %}
{% extends 'base.html.twig' %}

{% block body %}
<section class="form-section">
    <div class="container">
        <div class="row">

            <h1 class="col-12 text-heading">S'inscrire</h1>

            {{ form_start(form, {'attr': { 'class': 'col-12 form' }}) }}
                {% if not form.vars.valid %}
                    <ul>
                        {# Loop through every form item #}
                        {% for child in form.children %}
                            {# Display the errors of the form item #}
                            {%for error in child.vars.errors%}
                                <li>{{error.message}}</li>
                            {%endfor%}
                        {%endfor%}
                    </ul>
                {%endif%}
                <div class="form-group">
                    {{ form_widget(form.firstName, {'attr': { 'placeholder': 'Votre prénom', 'required': 'true', 'class': 'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.lastName, {'attr': { 'placeholder': 'Votre nom de famille', 'required': 'true', 'class': 'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.email, {'attr': { 'placeholder': 'Votre adresse e-mail', 'required': 'true', 'class': 'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.plainPassword.first, {'attr': { 'placeholder': 'Votre mot de passe', 'required': 'true', 'class': 'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.plainPassword.second, {'attr': { 'placeholder': 'Confirmez mot de passe', 'required': 'true', 'class': 'form-control' }}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.agreeTerms, {'attr': { 'required': 'true' }}) }} {{ form_label(form.agreeTerms) }}
                </div>
                <button type="submit" class="btn btn-lg btn-primary col-12">S'inscrire</button>
                <input type="hidden" id="registration_form__token" name="registration_form[_token]" value="ESoGo5qeRwVNNXEEEWRmYTs9ueIq8sBBQYoYMtSG0MM">

                <a class="genric-btn link col-12" href="{{ path('app_login')}}" >Se connecter</a>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
