{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Services{% endblock %}

{% block body %}
<main>
    <!--? Slider Area Start-->
    <div class="slider-area slider-area2">
        <div class="slider-active dot-style">
            <!-- Slider Single -->
            <div class="single-slider  d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-8 col-md-10 ">
                            <div class="hero-wrapper">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".3s">Services proposés</h1>
                                    <p data-animation="fadeInUp" data-delay=".6s">Profitez de la musicothérapie en rendez-vous individuel personnalisé ou consultez nos ateliers pour donner un coup de pouce à votre dynamique de groupe !</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <!-- Slider Area End -->
    <section class="wantToWork-area">
        <div class="container">
            <div class="wants-wrapper w-padding2">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-9 col-md-8">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>Mes 2 services</h2>
                            <p>Initiez vous à la musicothérapie d'une manière adaptée à vos besoins !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? Services Area Start -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <img src="{{ asset('img/icon/inspiration.svg') }}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#personal-appointments">Rendez-vous individuel ou groupé</a></h5>
                            <p>Profitez d'une séance de musicothérapie personnalisée et voyez comment la musique peut vous aider à être en meilleure santé</p>
                            <a href="#personal-appointments" class="plus-btn"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <img src="{{ asset('img/icon/add-group.svg') }}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#group-sessions">Ateliers groupés en ligne</a></h5>
                            <p>Redynamisez votre groupe avec des ateliers interactifs en ligne de découverte de la musicothérapie</p>
                            <a href="#group-sessions" class="plus-btn"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-top-border" id="personal-appointments">
                <h3 class="mb-30">Rendez-vous : horaires disponibles</h3>
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-head">
                            <div class="date">Date</div>
                            <div class="hour">Heure</div>
                            <div class="select"></div>
                        </div>
                        <div class="table-row">
                            <div class="date">26 mai 2021</div>
                            <div class="hour">18:00</div>
                            <div class="select"><a href="{{ path('confirmBooking') }}" class="genric-btn primary">Sélectionner</a></div>
                        </div>
                        <div class="table-row">
                            <div class="date">31 mai 2021</div>
                            <div class="hour">11:30</div>
                            <div class="select"><a href="{{ path('confirmBooking') }}" class="genric-btn primary">Sélectionner</a></div>
                        </div>
                        <div class="table-row">
                            <div class="date">05 juin 2021</div>
                            <div class="hour">15:00</div>
                            <div class="select"><a href="{{ path('confirmBooking') }}" class="genric-btn primary">Sélectionner</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-top-border" id="group-sessions" >
                <h3 class="mb-30">Ateliers groupés en ligne : horaires disponibles</h3>
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-head">
                            <div class="title">Titre</div>
                            <div class="date">Date</div>
                            <div class="hour">Heure</div>
                            <div class="select"></div>
                        </div>
                        <div class="table-row">
                            <div class="title">Titre</div>
                            <div class="date">26 mai 2021</div>
                            <div class="hour">18:00</div>
                            <div class="select"><a href="{{ path('confirmBooking') }}" class="genric-btn primary">Sélectionner</a></div>
                        </div>
                        <div class="table-row">
                            <div class="title">Titre</div>
                            <div class="date">31 mai 2021</div>
                            <div class="hour">11:30</div>
                            <div class="select"><a href="{{ path('confirmBooking') }}" class="genric-btn primary">Sélectionner</a></div>
                        </div>
                        <div class="table-row">
                            <div class="title">Titre</div>
                            <div class="date">05 juin 2021</div>
                            <div class="hour">15:00</div>
                            <div class="select"><a href="{{ path('confirmBooking') }}" class="genric-btn primary">Sélectionner</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->  
    {% include "includes/testimonial.html.twig" %}
</main>

{% endblock %}