{% set fbLink = "https://www.facebook.com/Beya.musicotherapeute" %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Beya Musicothérapie{% endblock %}</title>

        {% block stylesheets %}

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/slicknav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/flaticon.css')  }}">
        <link rel="stylesheet" href="{{ asset('css/gijgo.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animated-headline.css') }}">
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}

    </head>
    <body>
        <header>
            <!--? Header Start -->
            <div class="header-area">
                <div class="main-header header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="{{ path('home') }}">
                                        <!--<img src="{{ asset('img/logo/logo.png') }}" alt="logo" height="70px">-->
                                        <span class="temporary-logo">Beya Musicothérapie</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <div class="menu-main d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav> 
                                            <ul id="navigation">
                                                <li><a href="{{ path('home')}}">Accueil</a></li>
                                                <li><a href="{{ path('services')}}">Services</a></li>
                                                <li><a href="{{ path('contact')}}">Contact</a></li>
                                                <li><a href="{{ path('about')}}">À propos</a></li>
                                                <li><a href="{{ fbLink }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="header-right-btn f-right d-none d-lg-block ml-15">
                                        <a href="{{ path('app_login')}}" class="btn header-btn">
                                            {% if not app.user %}
                                            S'inscrire / Se connecter
                                            {% else %}
                                            Se déconnecter
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>
        {% block body %}{% endblock %}


        {% block javascripts %}{% endblock %}

        <footer>
            <div class="footer-wrappr section-bg3" data-background="{{ asset('img/gallery/footer-bg.png') }}">
                <div class="footer-area footer-padding ">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                                <div class="single-footer-caption mb-50">
                                    <!-- logo -->
                                    <div class="footer-logo mb-25">
                                        <a href="index.html">
                                            <!--<img src="{{ asset('img/logo/logo2_footer.png') }}" alt="">-->
                                            <span class="temporary-logo">Beya Musicothérapie</span>
                                        </a>
                                    </div>
                                    <div class="header-area">
                                        <div class="main-header main-header2">
                                            <div class="menu-main d-flex align-items-center justify-content-start">
                                                <!-- Main-menu -->
                                                <div class="main-menu main-menu2">
                                                    <nav> 
                                                        <ul>
                                                            <li><a href="{{ path('home') }}">Accueil</a></li>
                                                            <li><a href="{{ path('services') }}">Services</a></li>
                                                            <li><a href="{{ path('about') }}">À propos</a></li>
                                                            <li><a href="{{ path('contact') }}">Contact</a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <!-- social -->
                                    <div class="footer-social mt-50">
                                        <a href="{{ fbLink }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="single-footer-caption">
                                    <div class="footer-tittle mb-50">
                                        <h4>La musicothérapie n'attend que vous !</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-bottom area -->
                <div class="footer-bottom-area">
                    <div class="container">
                        <div class="footer-border">
                            <div class="row">
                                <div class="col-xl-10 ">
                                    <div class="footer-copy-right">
                                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés | Site réalisé au sein de l'Université Paris I Panthéon-Sorbonne (DUTERTRE, LECONTE, LOSEGO)
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Scroll Up -->
            <div id="back-top" >
                <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
            </div>

        <script src="{{ asset('js/vendor/modernizr-3.5.0.min.js') }}"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Jquery Mobile Menu -->
        <script src="{{ asset('js/jquery.slicknav.min.js') }}"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('js/slick.min.js') }}"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="{{ asset('js/wow.min.js') }}"></script>
        <script src="{{ asset('js/animated.headline.js') }}"></script>
        <script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>

        <!-- Date Picker -->
        <script src="{{ asset('js/gijgo.min.js') }}"></script>
        <!-- Nice-select, sticky -->
        <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ asset('js/jquery.sticky.js') }}"></script>

        <!-- counter , waypoint,Hover Direction -->
        <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('js/waypoints.min.js') }}"></script>
        <script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
        <script src="{{ asset('js/hover-direction-snake.min.js') }}"></script>

        <!-- contact js -->
        <script src="{{ asset('js/contact.js') }}"></script>
        <script src="{{ asset('js/jquery.form.js') }}"></script>
        <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/mail-script.js') }}"></script>
        <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>

        <!-- Jquery Plugins, main Jquery -->	
        <script src="{{ asset('js/plugins.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
